.all{
    display: flex;
    justify-content: space-around;
}
.key{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.one{
    height: 290px;
    width:250px ;
    background-color: rgb(242, 226, 244);
    text-align: left;
    margin: 20px; 
    padding: 30px;
    border-radius: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.one:hover{
    transform: scale(1.1);
}